{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block monTitre %}Liste des personnages{% endblock %}

{% block body %}
    <div>Pseudp : {{ pseudo }} </div>
    <div> Force : {{ carac.force }}</div>
{% endblock %}
